<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace= "admin/_fragments :: header_html"/>
<body class="theme-red">
    <!-- Page Loader -->
    <div th:replace= "admin/_fragments :: navbar_html"></div>
    <!-- #END# Page Loader -->
   
    <!-- Left Sidebar -->
     <div th:replace= "admin/_fragments :: menu_html"></div>
    
       

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>THỐNG KÊ</h2>
            </div>

            <!-- Widgets -->
            <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">playlist_add_check</i>
                        </div>
                        <div class="content">
                            <div class="text">NEW TASKS</div>
                            <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">help</i>
                        </div>
                        <div class="content">
                            <div class="text">NEW TICKETS</div>
                            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">forum</i>
                        </div>
                        <div class="content">
                            <div class="text">NEW COMMENTS</div>
                            <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">person_add</i>
                        </div>
                        <div class="content">
                            <div class="text">NEW VISITORS</div>
                            <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Widgets -->
            <!-- CPU Usage -->
            
            <div class="row clearfix">
                <!-- Line Chart -->
                <div class="col-md-8">
                    <div class="card">
                        <div class="header">
                            <h2>DOANH THU</h2>
                            
                            <ul class="header-dropdown m-r--5" id="revenue">
                            		<select onchange="changeChartRevenue();" class="year">
								            <option value="2021">2021</option>
								            <option value="2020">2020</option>
								            <option value="2019">2019</option>
								            <option value="2018">2018</option>
                              		</select>
                              		
                              		<select onchange="changeChartRevenue();" class="month">
                              				<option value="">- Chọn -</option>
								            <option value="1">Tháng 1</option>
								            <option value="2">Tháng 2</option>
								            <option value="3">Tháng 3</option>
								            <option value="4">Tháng 4</option>
								            <option value="5">Tháng 5</option>
								            <option value="6">Tháng 6</option>
								            <option value="7">Tháng 7</option>
								            <option value="8">Tháng 8</option>
								            <option value="9">Tháng 9</option>
								            <option value="10">Tháng 10</option>
								            <option value="11">Tháng 11</option>
								            <option value="12">Tháng 12</option>
                              		</select>
                            </ul>
                        </div>
                        <div class="body">
                        			
                            <canvas id="line_chart" height="300"></canvas>
                        </div>
                    </div>
                </div>
                <!-- #END# Line Chart -->
                 <!-- Line Chart -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h2>ĐƠN HÀNG</h2>
                            
                            <ul class="header-dropdown m-r--5" id="bill-status">
                            		<select onchange="changeChartBill();" class="year">
								            <option value="2021">2021</option>
								            <option value="2020">2020</option>
								            <option value="2019">2019</option>
								            <option value="2018">2018</option>
                              		</select>
                              		
                              		<select onchange="changeChartBill();" class="month">
                              				<option value="">- Chọn -</option>
								            <option value="1">Tháng 1</option>
								            <option value="2">Tháng 2</option>
								            <option value="3">Tháng 3</option>
								            <option value="4">Tháng 4</option>
								            <option value="5">Tháng 5</option>
								            <option value="6">Tháng 6</option>
								            <option value="7">Tháng 7</option>
								            <option value="8">Tháng 8</option>
								            <option value="9">Tháng 9</option>
								            <option value="10">Tháng 10</option>
								            <option value="11">Tháng 11</option>
								            <option value="12">Tháng 12</option>
                              		</select>
                            </ul>
                        </div>
                        <div class="body">
                            <canvas id="pie_chart" height="300"></canvas>
                        </div>
                    </div>
                </div>
                <!-- #END# Line Chart -->
                
            </div>
            
            <div class="row clearfix">
                <!-- Line Chart -->
                <div class="col-md-8">
                    <div class="card">
                        <div class="header">
                            <h2>TÀI KHOẢN</h2>
                            
                            <ul class="header-dropdown m-r--5" id="chart-user">
                            		<select onchange="changeChartUser();" class="year">
								            <option value="2021">2021</option>
								            <option value="2020">2020</option>
								            <option value="2019">2019</option>
								            <option value="2018">2018</option>
                              		</select>
                              		
                              		<select onchange="changeChartUser();" class="month">
                              				<option value="">- Chọn -</option>
								            <option value="1">Tháng 1</option>
								            <option value="2">Tháng 2</option>
								            <option value="3">Tháng 3</option>
								            <option value="4">Tháng 4</option>
								            <option value="5">Tháng 5</option>
								            <option value="6">Tháng 6</option>
								            <option value="7">Tháng 7</option>
								            <option value="8">Tháng 8</option>
								            <option value="9">Tháng 9</option>
								            <option value="10">Tháng 10</option>
								            <option value="11">Tháng 11</option>
								            <option value="12">Tháng 12</option>
                              		</select>
                            </ul>
                        </div>
                        <div class="body">
                            <canvas id="bar_chart" height="300"></canvas>
                        </div>
                    </div>
                </div>
                <!-- #END# Line Chart -->
                <!-- Line Chart -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h2>VAI TRÒ</h2>
                        </div>
                        <div class="body">
                            <canvas id="pie_chart_1" height="300"></canvas>
                        </div>
                    </div>
                </div>
                <!-- #END# Line Chart -->
                
                
            </div>

            <div class="row clearfix">
                <!-- Task Info -->
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="card">
                        <div class="header">
                            <h2>TASK INFOS</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover dashboard-task-infos">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Task</th>
                                            <th>Status</th>
                                            <th>Manager</th>
                                            <th>Progress</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Task A</td>
                                            <td><span class="label bg-green">Doing</span></td>
                                            <td>John Doe</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Task B</td>
                                            <td><span class="label bg-blue">To Do</span></td>
                                            <td>John Doe</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Task C</td>
                                            <td><span class="label bg-light-blue">On Hold</span></td>
                                            <td>John Doe</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-light-blue" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Task D</td>
                                            <td><span class="label bg-orange">Wait Approvel</span></td>
                                            <td>John Doe</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Task E</td>
                                            <td>
                                                <span class="label bg-red">Suspended</span>
                                            </td>
                                            <td>John Doe</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-red" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #END# Task Info -->
                <!-- Line Chart -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h2>SẢN PHẨM</h2>
                            
                            
                        </div>
                        <div class="body">
                            <div id="donut_chart" style="height: 300px"></div>
                        </div>
                    </div>
                </div>
                <!-- #END# Line Chart -->
        </div>
    </section>
    
	
   <div th:replace= "admin/_fragments :: footer_html"></div>
   <!-- Morris Plugin Js -->
   <script src="/admin/plugins/raphael/raphael.min.js"></script>
   <script src="/admin/plugins/morrisjs/morris.js"></script>
   <script type="text/javascript">
   
	    //Widgets count
	    $('.count-to').countTo();

	    //Sales count to
	    $('.sales-count-to').countTo({
	        formatter: function (value, options) {
	            return '$' + value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, ' ').replace('.', ',');
	        }
	    });
	    
	    function number_format(number, decimals, dec_point, thousands_sep) {
	    	  // *     example: number_format(1234.56, 2, ',', ' ');
	    	  // *     return: '1 234,56'
	    	  number = (number + '').replace(',', '').replace(' ', '');
	    	  var n = !isFinite(+number) ? 0 : +number,
	    	    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
	    	    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
	    	    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
	    	    s = '',
	    	    toFixedFix = function(n, prec) {
	    	      var k = Math.pow(10, prec);
	    	      return '' + Math.round(n * k) / k;
	    	    };
	    	  // Fix for IE parseFloat(0.55).toFixed(0) = 0;
	    	  s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
	    	  if (s[0].length > 3) {
	    	    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
	    	  }
	    	  if ((s[1] || '').length < prec) {
	    	    s[1] = s[1] || '';
	    	    s[1] += new Array(prec - s[1].length + 1).join('0');
	    	  }
	    	  return s.join(dec);
	    	}
		
	    var ctx_1 = document.getElementById("line_chart").getContext("2d");
	    ctx_1.height = 300;

	    // draw empty chart
	    var myChart_1 = new Chart(ctx_1, {
	    	type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "Doanh thu: ",
                    data: [],
                    borderColor: 'rgba(0, 188, 212, 0.75)',
                    backgroundColor: 'rgba(0, 188, 212, 0.3)',
                    pointBorderColor: 'rgba(0, 188, 212, 0)',
                    pointBackgroundColor: 'rgba(0, 188, 212, 0.9)',
                    pointBorderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                layout: {
            },
            scales: {
              xAxes: [{
                time: {
                  unit: 'date'
                },
                gridLines: {
                  display: false,
                  drawBorder: false
                },
                ticks: {
                  maxTicksLimit: 12
                }
              }],
              yAxes: [{
                ticks: {
                  maxTicksLimit: 5,
                  padding: 10,
                  // Include a dollar sign in the ticks
                  callback: function(value, index, values) {
                    return number_format(value) + ' đ';
                  }
                },
                gridLines: {
                  color: "rgb(234, 236, 244)",
                  zeroLineColor: "rgb(234, 236, 244)",
                  drawBorder: false,
                  borderDash: [2],
                  zeroLineBorderDash: [2]
                }
              }],
            },
            legend: {
              display: false
            },
            tooltips: {
              callbacks: {
                label: function(tooltipItem, chart) {
                  var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                  return datasetLabel + ' ' + number_format(tooltipItem.yLabel) + ' đ';
                }
              }
            }
        }
	    });

	    ajax_chart(myChart_1, '/api/statistical?type=bill&year=2021');

	    // function to update our chart
	    function ajax_chart(chart, url) {
	        var data = data || {};
	        $.get(url, function(data){
	    		var month = data.map(function(elem){
	    			return elem.label;
	    		});
	    		
	    		var dataChart = data.map(function(elem){
	    			return elem.data;
	    		});
	    		chart.data.labels = month;
	            chart.data.datasets[0].data = dataChart;
	            chart.update(); // finally update our chart
	        });
	    }
	    
	    function changeChartRevenue() {
	    	var year = $("#revenue .year").val();
	    	var month = $("#revenue .month").val();
	    	var url = '/api/statistical?type=bill&year=' + year;
	    	if(month != '') url = '/api/statistical?type=bill&year=' + year + "&month=" + month;
	    	ajax_chart(myChart_1, url);
	    }
	    
	    // chart user
	    
	    var ctx_2 = document.getElementById("bar_chart").getContext("2d");
	    ctx_2.height = 300;

	    // draw empty chart
	    var myChart_2 = new Chart(ctx_2, {
	    	type: 'bar',
            data: {
                labels: [],
                datasets: [{
                    label: "Tài khoản: ",
                    data: [],
                    borderColor: 'rgba(0, 188, 212, 0.75)',
                    backgroundColor: 'rgba(233, 30, 99, 0.8)',
                    pointBorderColor: 'rgba(0, 188, 212, 0)',
                    pointBackgroundColor: 'rgba(0, 188, 212, 0.9)',
                    pointBorderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                layout: {
            },
            scales: {
              xAxes: [{
                time: {
                  unit: 'date'
                },
                gridLines: {
                  display: false,
                  drawBorder: false
                },
                ticks: {
                  maxTicksLimit: 12
                }
              }],
              yAxes: [{
                ticks: {
                  maxTicksLimit: 3,
                  padding: 10,
                  // Include a dollar sign in the ticks
                  callback: function(value, index, values) {
                    return number_format(value);
                  }
                },
                gridLines: {
                  color: "rgb(234, 236, 244)",
                  zeroLineColor: "rgb(234, 236, 244)",
                  drawBorder: false,
                  borderDash: [2],
                  zeroLineBorderDash: [2]
                }
              }],
            },
            legend: {
              display: false
            },
            tooltips: {
              callbacks: {
                label: function(tooltipItem, chart) {
                  var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                  return datasetLabel + ' ' + number_format(tooltipItem.yLabel);
                }
              }
            }
        }
	    });

	    ajax_chart(myChart_2, '/api/statistical?type=user&year=2021');

	    function changeChartUser() {
	    	var year = $("#chart-user .year").val();
	    	var month = $("#chart-user .month").val();
	    	var url = '/api/statistical?type=user&year=' + year;
	    	if(month != '') url = '/api/statistical?type=user&year=' + year + "&month=" + month;
	    	ajax_chart(myChart_2, url);
	    }
	    
	    var ctx_3 = document.getElementById("pie_chart").getContext("2d");

	    
	    var myChart_3 = new Chart(ctx_3, {
	    	type: 'pie',
            data: {
                datasets: [{
                    data: [],
                    backgroundColor: [
                    	"rgb(139, 195, 74)",
                        "rgb(233, 30, 99)"
                        
                    ],
                }],
                labels: []
            },
            options: {
                responsive: true,
                legend: false
            }
	    });

	    ajax_chart(myChart_3, '/api/statistical?type=statusBill&year=2021');
	    
	    function changeChartBill() {
	    	var year = $("#bill-status .year").val();
	    	var month = $("#bill-status .month").val();
	    	var url = '/api/statistical?type=statusBill&year=' + year;
	    	if(month != '') url = '/api/statistical?type=statusBill&year=' + year + "&month=" + month;
	    	ajax_chart(myChart_3, url);
	    }
	    
	var ctx_4 = document.getElementById("pie_chart_1").getContext("2d");

	    
	    var myChart_4 = new Chart(ctx_4, {
	    	type: 'pie',
            data: {
                datasets: [{
                    data: [],
                    backgroundColor: [
                    	"rgb(255, 193, 7)",
                        "rgb(0, 188, 212)"
                        
                    ],
                }],
                labels: []
            },
            options: {
                responsive: true,
                legend: false
            }
	    });

	    ajax_chart(myChart_4, '/api/statistical?type=roleUser&year=2021');
	    
	    

	
   </script>
   <script type="text/javascript" th:utext="${DonutChart}"></script>
   <div th:replace= "admin/_fragments :: myScript_html"></div>
</body>

</html>
