<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace= "admin/_fragments :: header_html"/>

<body class="login-page">
    <div class="fp-box">
        <div class="card">
            <div class="body">
                <form id="reset_password" action="javascript:updatePassword('reset_password');">
                   <div class="display-invalid-error"></div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <input type="hidden" name="email" th:value="${email}">
                         <input type="hidden" name="id" th:value="${id}">
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" placeholder="Mật Khẩu" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="" placeholder="Nhập Lại Mật khẩu" required autofocus>
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">ĐẶT LẠI MẬT KHẨU CỦA BẠN</button>

                    <div class="row m-t-20 m-b--5 align-center">
                        <a href="/">Trang chủ</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

     <div th:replace= "admin/_fragments :: footer_html"></div>
     <script type="text/javascript">
     function updatePassword(id_form) {
  		var data = {};
  		var formData = $("#" + id_form).serializeArray();
  		 $.each(formData, function (i, v) {
  			 data[""+v.name+""] = v.value;
 	         });
  		 var url = "/api/users/" + data['id'];
  		 $.ajax({
  	            url: url,
  	            type: 'PUT',
  	            contentType: 'application/json',
  	            data: JSON.stringify(data),
  	            dataType: 'json',
  	            success: function (result) {
  	            	if(result.alert == 'success') {
  	            		window.location.href = "/login";
  	            	} else if (result.alert == 'danger'){
  	            		$("#" + id_form + " .display-invalid-error").css("display", "block");
  	            		$("#" + id_form + " .display-invalid-error").html(result.message);
  	            	}
  	            	
  	            },
  	            error: function (error) {
  	            	$("#" + id_form).css('filter', 'none');
  	            	$('#display-loadding-register').css('display', 'none');
  	            	alert(error.message);
  	            }
  		 });
  	}
     </script>
</body>

</html>