<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace= "client/_generic :: header_html"/>
<body>

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row notification_wrap">
			<div class="notification" style="position: absolute; top: 30%">
                <p class="line1">RẤT TIẾC, TRANG BẠN TÌM KIẾM KHÔNG TỒN TẠI</p>
				<img class="img_thanks" src="img/sub_img/404.jpg">
                <div class="notification_link">
                    <a href="/" class="see_bill"><i class="fa fa-undo"></i> Trờ về trang chủ</a>\
                </div>
			</div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

</body>
</html>